<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>HighGGu</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    </head>
    <body>
        <div>
            <div id="cart_container"
                 style="border: 1px solid black; background-color:rgba(255, 255, 255, 0.7); position: fixed; margin-top: -1.3%; width: 30%; height: 101%; left: 100%;">
                <div id="cart">
                    <table class="basic" border="0" cellspacing="0" cellpadding="0">
                        <tr><br><br>
                            <th class="col">&nbsp;</th>
                            <th class="col1">μƒν’λ…</th>
                            <th class="col2">μλ‰</th>
                            <th class="col4">ν•©κ³„</th>
                            <th class="col">&nbsp;</th>
                        </tr>
                    </table>
                </div>
                <br>
                <h1>μ΄κΈμ•΅</h1>
                <div id="show_total">
                    0μ›
                </div>

                <% if (locals.isAuthenticated) { %>
                    <button onclick="requestPay()">κµ¬λ§¤ν•κΈ°</button>
                <% } else { %>
                    <button onclick="alert('λ΅κ·ΈμΈν• μ‚¬μ©μλ§ κµ¬λ§¤ν•  μ μμµλ‹λ‹¤.')">κµ¬λ§¤ν•κΈ°</button>
                <% } %>
                <p id="close_cart_btn"> ></p>
            </div>
        </div>

        <%- include('header.ejs') %>
        <div class="menubar"><!--π’π’π’                    -->
            <ul>
                <li class="purpleheart">π’π’π’</li>
                <li><a href="#">ν•„κΈ°κµ¬</a></li>
                <li class="purpleheart">π’π’π’</li>
            </ul>
        </div>
        <br><br>
        <div class="products">
            <a class="good">
                <img src="/pen.jpg">
                <p>ν”„λ¦¬μ¦ λ³Όν 0.5</p>
                <p class="price">1,900 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add1">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="pen1.jpg">
                <p>λ§μΌλ“ μ ¤ν 0.38</p>
                <p class="price">1,800 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add2">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="pen2.jpg">
                <p>3λ©€ν‹°ν 05/07mm</p>
                <p class="price">8,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add3">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="pen3.jpg">
                <p>λΌμ΄λΈμΉΌλΌ SET</p>
                <p class="price">4,200 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add4">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="pen4.jpg">
                <p>νμ¬ νμ°μΉ</p>
                <p class="price">17,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add5">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="pen5.jpg">
                <p>λ”λΈ” λΌμΈν</p>
                <p class="price">4,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add6">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>

            <div class="clearfix"></div>
        </div>
        <br></div>
        <div class="menubar"><!--π’π’π’                    -->
            <ul>
                <li class="purpleheart">π’π’π’</li>
                <li><a href="sticker.html">μ¤ν‹°μ»¤</a></li>
                <li class="purpleheart">π’π’π’</li>
            </ul>
        </div>

        <br><br>
        <div class="products">
            <a class="good">
                <img src="/sti.jpg">
                <p>μ‚°λ¦¬μ¤ μ¤ν‹°μ»¤ν©</p>
                <p class="price">11,400 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add7">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/sti1.jpg">
                <p>μΈν„°λ„·μƒν™ μ¬μΈμ›ν©</p>
                <p class="price">12,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add8">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/sti2.jpg">
                <p>μµκ³ μ‹¬ λ‚λ” λ©‹μ Έ</p>
                <p class="price">2,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add9">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/sti3.jpg">
                <p>λ°μΌλ¦¬ λ“λ΅μ‰ μ¤ν‹°μ»¤ </p>
                <p class="price">1,800 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add10">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/sti4.jpg">
                <p>μ£Όμ¤ λƒ¥μ§¤ μ¤ν‹°μ»¤ν©</p>
                <p class="price">8,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add11">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/sti5.jpg">
                <p>MBTI κ³Όλ°μ…ν©</p>
                <p class="price">16,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add12">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>

            <div class="clearfix"></div>
        </div>
        <br>
        <div class="menubar"><!--π’π’π’                    -->
            <ul>
                <li class="purpleheart">π’π’π’</li>
                <li><a href="memo.html">λ–΅λ©”</a></li>
                <li class="purpleheart">π’π’π’</li>
            </ul>
        </div>

        <br><br>
        <div class="products">
            <a class="good">
                <img src="/memo.jpg">
                <p>μµκ³ μ‹¬ ν• μΌμ„ ν•μ</p>
                <p class="price">2,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add13">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/memo1.jpg">
                <p>λ¬΄λ“ λ©”λ¨ ν¨ν‚¤μ§€</p>
                <p class="price">9,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add14">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/memo2.jpg">
                <p>Romane μ μ°© λ©”λ¨μ§€</p>
                <p class="price">2,500 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add15">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/memo3.jpg">
                <p>λ¨λ„¤ λ‹¤κΎΈν¨ν‚¤μ§€</p>
                <p class="price">11,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add13">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/memo4.jpg">
                <p>κ³¨νΈλ™μ»¤ λ…ΈνΈν¨λ“</p>
                <p class="price">2,400 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add14">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>
            <a class="good">
                <img src="/memo5.jpg">
                <p>μΊλΉ„λ‹› λ©”λ¨μ§€</p>
                <p class="price">3,000 </p>
                <div class="add_cart" style="margin-top: -30%;">
                    <button type="button" title="μ¥λ°”κµ¬λ‹ μ¶”κ°€" class="btn_add15">μ¥λ°”κµ¬λ‹ μ¶”κ°€</button>
                </div>
            </a>

            <div class="clearfix"></div>
        </div>
        <%- include('footer.ejs') %>

        <br><br>
        <script src="/js/list.js"></script>
        <script src="/js/hide-and-show-cart.js"></script>
        <script src="/js/payments.js"></script>
    </body>
</html>